body{
    background-image: linear-gradient(to right top, #000000, #1c1319, #2b202f, #32314a, #2c4467);
    margin: 0;


}

h1{
    font-size: 25px;
    color: white;
    text-align: center;
    font-family: cursive;



}


.templatearea {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(5, 1fr);
    gap: 10px; 
    grid-template-areas:
      "hr hr hr hr hr"
      "main main post post sidebar"
      "main1 main2 post post sidebar"
      "main1 main3 post post sidebar"
      "fr fr fr fr fr"      
      ;
      width: 60%;
      margin: 4% auto 4% auto;
      background: none;
      box-shadow: none;
  }
  
  .item {
    border-radius: 50px;
    background-color: #ffffff;
    box-shadow: inset 20px 20px 60px #f1f1f1,
                inset -20px -20px 60px #535353;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .co1{
    grid-area: hr;
  }

  .co2{
    grid-area: main;
  }

  .co3{
    grid-area: main1;
  }

  .co4{
    grid-area: main2;
  }

  .co5{
    grid-area: main3;
  }

  .co6{
    grid-area: post;
  }

  .co7{
    grid-area: sidebar;
  }

  .co8{
    grid-area: fr;
  }




.header{
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
    height: 150px;
    background: -webkit-linear-gradient(360deg, #000000,#292929);
    background: linear-gradient(360deg, #000000,#292929);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    b: 0px;
}

.header img{
    width: 300px;
    
    
}

.header p{
    color: rgb(255, 255, 255);
    font-size: 35px;
    width: 800px;
    margin-top: 60px;
    font-family: cursive;
    
    
}

.primerParrafo{
    background-color: white;
    
    margin: auto;
    width: 60%;
    border: solid 6px rgb(0, 54, 85);
    margin-bottom: 60px;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.75);



}

.primerParrafo p{
    font-size: 20px;
    color: black;
    padding: 20px;
    font-family: 'cursive';

    
}

.contenedorPrincipal{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0fr 1fr 136px 0fr;
    grid-gap: 10px;
    padding: 10px;
    margin: auto;
    width: 60%;
    margin-bottom: 60px;
    background: none;
    box-shadow: none;
    

}

.contenedor_1{
    background-color: rgb(25 205 231 / 14%);
    grid-column: 1/5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.75);
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.contenedor_1 div{
    
    margin: 5px;
    width: 47%;
    height: 80px;
    box-shadow: inset 1px 1px 15px 0px rgba(0,0,0,0.75);
   
}

div{
    border-radius: 33px;
background: #e0e0e0;
box-shadow: inset 5px 5px 10px #bebebe,
            inset -5px -5px 10px #ffffff;
}


.contenedor_2{
    grid-column: 1/4;
    background-color: rgb(25 205 231 / 14%);;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 10fr 1fr 1fr ;
    grid-template-rows: 3fr 4fr 4fr;
    padding: 10px;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.75); 

}

.con2D1 {
    
    grid-column: 1/3; 
}  
    

.con2D2{
    
    grid-column: 3/4;
    
    
    
    
}
.con2D3{
    
    grid-column: 1/2;
    
    
    
}
.con2D4{
    
    grid-column: 1/2;
    
    
    
}
.con2D5{
    grid-column: 2/4;
    grid-row: 2/4;
    display: flex;
    align-items: center;
}

.con2D5 img{
    width: 100%;
    margin: auto;
}

.contenedor_3{
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.75);
    background-color: rgb(25 205 231 / 14%);;
    grid-column: 4/4;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

}

.contenedor_3 div{
    
   
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(63, 63, 63);
    font-size: 58px;
    font-family: sans-serif;
    

}

.contenedor_4{
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.75);
    background-color: rgb(25 205 231 / 14%);
    grid-column: 1/4;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    
    
        
    
}

.contenedor_4 div{
    
    height: 98%;
}

.cont4d1{
    
    
    width: 27%;
    
    
    
}

.cont4d2{
    
    width: 70%;
    
    

}

.footer{
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
    height: 80px;
    background: -webkit-linear-gradient(360deg, #000000,#292929);
    background: linear-gradient(360deg, #000000,#292929);
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    justify-content: center;
    align-items: center;
    display: flex;
    
    
}

.footer p{
    color: white;
    font-size: 30px;
}

.footer a{
    color: rgb(0, 225, 255);
    font-size: 30px;
}

@media only screen and (max-width: 1440px) {
    .primerParrafo{
        
        width: 88%;
        
    
    
    
    }
    
    .contenedorPrincipal{
        
        width: 60%; 
    
    }
  }


  @media only screen and (max-width: 796px) {
    .primerParrafo{
        
        width: 88%;

    }

    .templatearea {
          width: 88%;
          grid-template-columns: repeat(5, 1fr); 
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
          "hr hr hr hr hr"
          "main main main main main"
          "main1 main1 main1 post post"
          "main2 main2 main2 post post"
          "main3 main3 main3 post post"
          "sidebar sidebar sidebar sidebar sidebar"
          "fr fr fr fr fr"      
          
      }

      
    
    .contenedorPrincipal {
        
        width: 88%;
        grid-template-rows: 0fr 250px 382px 135px;
        
        

    }
    
    .contenedor_1 div {
        width: 97%;
    }

    .contenedor_1 {
        grid-row: 1/1 ;
    }

    .contenedor_2 {
        grid-column: 1/5 
    }

    .contenedor_3 {
        grid-column: 1/5 ;
        grid-row: 3/4 ;
        
    }

    .contenedor_4 {
        grid-column: 1/5 ;
        
        
    }

    .header p{
        font-size: 25px;
        margin-top: 0px;
        padding: 15px;
        width: auto;
        text-align: center;
        
        
        
    }

    .header {
        flex-wrap: wrap;
        height: auto;
        
    }

    .footer p{
        font-size: 25px;
    }
    
    .footer a{
        font-size: 20px;
    }
}   
 

@media only screen and (max-width: 425px) {

    .contenedor_2 {
        grid-column: 1 / 5;
        grid-template-rows: 80px 80px 80px 80px;
        
    }

    .contenedorPrincipal{
        grid-template-rows:  0fr 548px 382px 200px;
    }

    .templatearea {
        grid-template-columns: repeat(5, 1fr); 
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:
          "hr hr hr hr hr"
          "main main main main main"
          "main1 main1 main1 main1 main1"
          "main2 main2 main2 main2 main2"
          "main3 main3 main3 main3 main3"
          "post post post post post"
          "sidebar sidebar sidebar sidebar sidebar"
          "fr fr fr fr fr"      
          ;
          
      }

    .con2D1{
        grid-column: 1 / 2;
    }

    .con2D2{
        grid-column: 2 / 4;
    }

    .con2D3{
        grid-column: 1 / 4;
    }

    .con2D4{
        grid-column: 1 / 4;
    }

    .con2D5{
        grid-column: 1 / 4;
    }

    .con2D5 img{
        width: 20%;
    }

    .contenedor_4{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding: 10px;
        height: 176px;
        
    }

   

    .cont4d1{

        width: 100%;

    }

    .cont4d2{
        width: 100%;

    }

    .header img {
        width: 150px;
    }

    .footer p{
        font-size: 10px;
    }
    
    .footer a{
        font-size: 10px;
    }


}


@media only screen and (max-width: 198px) {

    .primerParrafo p{
        font-size: 12px;
    }

    .header p {
        font-size: 10px;
    }

    .header img {
        width: 80px;
    }
    
}